.card-effect {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 20, 0, 0, 0);
}

.title {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.info {
    -fx-text-fill: black;
    -fx-font-size: 16px;
}