.custom-table-view .column-header {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.custom-table-view .column-header .label {
    -fx-text-fill: white;
}

.custom-table-view TableColumn {
    -fx-text-fill: white;
}

.exportButton {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.exportButton:hover {
    -fx-background-color: #1565C0;
}

.departmentName {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.month {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}